.post {
    border: 5px solid;
    margin: 1rem auto;
    width: 50%;
    text-align: center;
}

.container{
    margin: 5px auto;
    display: flex;
    width: 95%;
    justify-content: space-between;
}
img {
    width: 95%;
    align-content: center;
    justify-content: center;
    margin: 5px ;
    }
.image {
align-content: center;
justify-content: center;
}
.title {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: row nowrap ;
}
.more  {
    height: 100%;
    align-content: right;
    display: flex;
    justify-content: flex-end;
    padding-left: 30px;
}
.text {
    width: 95%;
    display: inline-block;
    justify-content: space-between;
    align-content: center;
}
.actions-l {
    height: 20px;
    width: 100%;
    font-size: 20px;
    flex-flow: row nowrap;
    }
.float-right {
    float:right; 
}
.float-left {
    float:left; 
}
.pl-5 {
   padding-left: 5px; 
}
.pr-5 {
    padding-right: 5px; 
 }
 .text-start {
    text-align: start;
 }
 .fs-50{
    font-size: 50px;
 }
 .usuario{
    display: flex;
 }
 .icon{
    margin: auto;
    padding: 1rem;
 }
 .m-0{
    margin: 0;
 }
 h2 {
    margin: 15px 0 0 0;
 }
        